.div-loading {
  margin-top: 200px;
  align-items: center;
  width: 350px;
  border-radius: 20px;
  display: flex;
  text-align: center;
  margin-left: 35%;
}

.logo-carregando  {
  padding: 5px;
  border-radius: 20px;
  width: 120px;
  height: 120px;
}
