@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  font-family: 'Indie Flower', cursive;
} */

.body {
  margin: 0;
}

.form {
  background-image: url('../img/img2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 5%;
  width: 60%;
  margin-left: 20%;
  box-shadow: 0px 10px 10px 8px rgba(0, 0, 0, 0.801);
  border-radius: 30px;
}

.h1 {
  display: flex;
  margin: 0;
  padding: 5px;
}

.trybe-logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  font-size: 30px;

}

.logo-music {
  margin: 0;
  padding: 0;
  margin: 80px 0 120px 0 ;
  width: 120px;
  height: 100px;
  border-radius: 50px;
}

.tunes {
  text-align: center;
}

.login-name-input {
  border-color: palevioletred;
  padding: 12px 16px;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  margin-bottom: 30px;
  margin: 10px;
}

.login-submit-button {
  text-align: center;
  margin-top: 35px;
  padding: 8px;
  color: #FFFFFF;
  background-color: rgb(218, 131, 164);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  height: 35px;
  width: 80px;
  margin-bottom: 30px;
}

.login-submit-button:disabled {
  background-color: rgb(188, 188, 188);
}

.login-submit-button:hover {
  cursor: pointer;
} 
