@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  font-family: 'Indie Flower', cursive;
}

.form-search {
  display: flex;
  margin-top: 110px;
  justify-content: center;
}

.input-search {
  border-color: palevioletred;
  padding: 12px 16px;
  border-radius: 10px;
  width: 400px;
  height: 40px;
  margin-bottom: 30px;
  margin: 10px;
  margin-top: 0;
}

.button-search {
  padding: 8px;
  color: #FFFFFF;
  background-color: rgb(218, 131, 164);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  height: 35px;
  width: 80px;
  cursor: pointer;
}

.p {
  text-align: center;
  font-size: 20px;
}

.h2 {
  text-align: center;
  background-color: rgb(218, 131, 164);
  padding: 50px;
  width: 350px;
  margin-left: 35%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 10px;
}

.section-search {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.album-search {
  align-items: center;
  background-color: rgba(218, 131, 164, 0.836);
  width: 290px;
  margin: 0px 30px 30px 0;
  margin-left: 6%;
  height: 250px;
  border: 1px solid #E1E5EB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
